<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head",{title:"Main"})%>
    <body>
        <header><h1> All Posts</h1></header>
        <main>
            <%if(locals?.posts){%>
                <ul class="posts">
                    <%locals?.posts.forEach((post)=>{%>
                        <li class="post">
                            <h4><%=post.title%></h4>
                            <span><%=post.createdAt%></span>
                            <p><%=post.description%></p>
                        </li>
                    <%})%>
                </ul>
            <%}else{%>
                <p class="no-posts">No posts found... <%}%>
            <form action="/posts/create" method="post" class="message-form">
                <input type="text" name="title" id="title" placeholder="title">
                <input type="text" name="description" id="description" placeholder="description">
                <button type="submit">Submit</button>
            </form>
        </main>
    <%- include("../partials/aside",{active:"posts"})%>
    </body>
</html>
