<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head",{title:"Posts"})%>
    <body>
        <header><h1> All Posts</h1></header>
        <main>
            <%if(locals?.posts){%>
                <ul class="posts">
                    <%locals?.posts.forEach((post,index)=>{%>
                        <%if((posts[index-1]&& posts[index-1].createdat.toLocaleDateString()!==post.createdat.toLocaleDateString())||index===0){%>
                            <div class="date"><%= post.createdat.toLocaleDateString()%> </div>
                        <%}%>
                        <li class="post">
                            <%if(locals.currentUser){%>
                                <div class="post-title">
                                    <h4><%=post.title%></h4> 
                                    <span>
                                        <%= post.createdat.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %>
                                    </span>
                                    <%if(locals?.currentUser?.isadmin){%>
                                        <form action="/posts/delete/<%= post?.id %>" method="post">
                                            <button> 
                                                <img width="24px" src="/delete-icon.png" alt="trashbin icon">
                                            </button> 
                                        </form>                                        
                                    <%}%>
                                </div>
                                <div class="author">By <%=post.fullname%></div> 
                            <%}else{%>
                                <div class="post-title"><h4><%=post.title%></h4></div>
                            <%}%>
                            <p><%=post.description%></p>
                        </li>
                    <%})%>
                </ul>
            <%}else{%>
                <p class="no-posts">No posts found... <%}%>
                <%if(locals?.currentUser?.status==='member'||locals?.currentUser?.isadmin){%>
            <form action="/posts/create" method="post" class="message-form">
                <input type="text" value="<%=locals?.title%>" name="title" id="title" placeholder="title">
                <input type="text" value="<%=locals?.description%>" name="description" id="description" placeholder="description">
                <button type="submit">Submit</button>
            </form>
            <%}%>
        </main>
    <%- include("../partials/aside",{active:"posts"})%>
    </body>
</html>
